root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
charset = utf-8
csharp_new_line_before_open_brace = all

[*.asmdef]
charset = utf-8
indent_size = 4
indent_style = space
